body {
	font-family: 'Poppins', sans-serif;
}

.header {
	border-bottom: solid 5px black;
	height: 100px;
}

.header a {
	text-decoration: none;
}

.header a:visited {
	color: black;
}

.logo {
	font-size: 36px;
	font-weight: 600;
}

.accounts-container {
	display: flex;
	justify-content: space-between;
}

.account {
	border: solid 2px black;
	border-radius: 15px;
	height: 200px;
	width: 200px;
}