body {
	font-family: 'Poppins', sans-serif;
}

.header {
	border-bottom: solid 5px black;
	height: 100px;
}

.header a {
	text-decoration: none;
}

.header a:visited {
	color: black;
}

.logo {
	font-size: 36px;
	font-weight: 600;
}

.accounts-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.account {
	border: solid 2px black;
	border-radius: 15px;
	height: 200px;
	margin-bottom: 20px;
	width: 200px;
}

.signup-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}




/*adapted from Wes Bos for form errors*/
fieldset[disabled] {
	opacity: 0.5;
}

fieldset::before {
	height: 10px;
	content: '';
	display: block;
	background-image: linear-gradient(to right, #ff3019 0%, #e2b04a 50%, #ff3019 100%);
}

fieldset[aria-busy='true']::before {
	background-size: 50% auto;
	animation: form-loading 0.5s linear infinite;
}


@keyframes form-loading {
	0% {background-position: 0 0;}
	100% {background-position: 100% 100%;}
}