body {
	font-family: 'Poppins', sans-serif;
}

.header {
	border-bottom: solid 5px black;
	height: 100px;
}

.header a {
	text-decoration: none;
}

.header a:visited {
	color: black;
}

.logo {
	font-size: 36px;
	font-weight: 600;
}

